Load moduls

In [187]:
from math import sin, cos, sqrt, atan2, radians
import re, string
import numpy as np
import scipy.stats as stats
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

import warnings; warnings.filterwarnings('ignore')
%matplotlib inline
%config InlineBackend.figure_format ='retina'

# House Data Cleaning

In [188]:
df = pd.read_csv('data/houses.csv')

In [189]:
df = df[~df.location.isnull()]
def calcdist(value):
    
    slt = value.split('\'')

    lat1 = radians(-37.810817)
    lon1 = radians(144.963135)
    lat2 = radians(float(slt[1]))
    lon2 = radians(float(slt[3]))

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    
    R = 6373.0
    distance = R * c

    return distance

df['dist2cbd'] = df.location.map(calcdist)

In [191]:
df.suburb = df.suburb.str.lower()

In [192]:
df.shape

(203198, 13)

In [195]:
df.dropna(inplace=True)
df.isnull().sum()

solddate       0
price          0
address1       0
postcode       0
latitude       0
longitude      0
bedrooms       0
bathrooms      0
carparkings    0
agentbrand     0
location       0
suburb         0
dist2cbd       0
dtype: int64

# EDA

In [8]:
choose_sub = ['yarraville', 'newport', 'spotswood', 'kensington',
              'ascot vale', 'moonee ponds', 'coburg', 'clifton hill',
              'northcote', 'malvern east', 'glen iris', 'elsternwick',
              'ormond']

def ch(x):
    if x in choose_sub:
        return True
    else:
        return False
    
ch = df[df.suburb.map(ch)]

In [9]:
ch.suburb.unique()

array(['yarraville', 'newport', 'spotswood', 'kensington', 'ascot vale',
       'moonee ponds', 'coburg', 'clifton hill', 'northcote',
       'malvern east', 'glen iris', 'elsternwick', 'ormond'], dtype=object)

In [10]:
c = ch.drop(['postcode', 'latitude', 'longitude', 'location'], axis=1)

# pd.to_datetime(c.solddate)
def qw(x):
    try:
        s = x.split('-')
        month = s[1]
        return True
    except:
        return False
c = c[c.solddate.map(qw)]

c.solddate = pd.to_datetime(c.solddate)
c.solddate = c.solddate.map(lambda x: x.strftime('%Y-%m'))

In [11]:
# c.groupby(by='solddate').count()['price'][56:-1].plot(kind='bar', figsize=(20,10))

In [12]:
# outliers 
c = c[~(c.price > 4000000)]

In [13]:
me = c.price.median()
ma = c.price.mean()
plt.figure(figsize=(18,10))

font = {'family': 'serif',
        'color':  'darkred',
        'weight': 'normal',
        'size': 16,
        }
# plt.text(2500000, 0.00000125, s='Median '+str(me), fontsize=30, fontdict={'color':'red'})
# plt.text(2500000, 0.00000105, s='Mean  '+str(round(ma)), fontsize=30, fontdict={'color':'blue'})

# plt.plot([me, me], [0, 0.00000165], 'r-', lw=3)
# plt.plot([ma, ma], [0, 0.00000165], 'b-', lw=3)
# sns.distplot(c.price)

In [14]:
# c.groupby(by='agentbrand').count().sort_values(by='price', ascending=False)

In [15]:
c.bathrooms = c.bathrooms.astype(int)
c.carparkings = c.carparkings.astype(int)
corr = c[['bedrooms', 'bathrooms', 'carparkings', 'dist2cbd', 'price']].corr()
# sns.heatmap(corr, annot=True)

# Model

In [208]:
data = df.copy()
data.drop(['latitude', 'longitude', 'location', 'postcode'], axis=1, inplace=True)
data.drop(19517, axis=0, inplace=True)

In [209]:
def getStreetName(x):
    result = ''.join([i for i in x if not i.isdigit()])
    result = re.sub(r'[^\w]', ' ', result)
    result = ' '.join([x for x in result.split() if len(x) != 1])
    return result.lower()

data.address1 = data.address1.map(getStreetName)

In [210]:
data.head()

,solddate,price,address1,bedrooms,bathrooms,carparkings,agentbrand,suburb,dist2cbd
0,25-Aug-17,380000,katherine place,2.0,1,0,City Residential Real Estate,melbourne,1.201459
1,28-Aug-17,347000,franklin street,2.0,1,0,Caine Real Estate,melbourne,0.384706
2,26-Aug-17,458000,beckett street,2.0,1,0,MICM Real Estate,melbourne,0.267443
3,24-Aug-17,440000,therry street,2.0,1,0,Melcorp Property Pty Ltd,melbourne,0.467489
4,18-Aug-17,550000,collins street,2.0,2,0,MICM Real Estate,melbourne,1.085536

In [211]:
suburb = pd.read_csv('suburb.csv')
suburb.columns = ['suburb', 'post', 'region']
suburb.suburb = suburb.suburb.str.lower()
suburb.suburb = suburb.suburb.str.strip()

In [213]:
data2 = pd.merge(data, suburb, on='suburb', how='left')
data2.drop('post', axis=1, inplace=True)
data2.drop_duplicates(inplace=True)
data2.dropna(inplace=True)

In [215]:
data2

,solddate,price,address1,bedrooms,bathrooms,carparkings,agentbrand,suburb,dist2cbd,region
0,25-Aug-17,380000,katherine place,2.0,1,0,City Residential Real Estate,melbourne,1.201459,Inner
3,28-Aug-17,347000,franklin street,2.0,1,0,Caine Real Estate,melbourne,0.384706,Inner
6,26-Aug-17,458000,beckett street,2.0,1,0,MICM Real Estate,melbourne,0.267443,Inner
9,24-Aug-17,440000,therry street,2.0,1,0,Melcorp Property Pty Ltd,melbourne,0.467489,Inner
12,18-Aug-17,550000,collins street,2.0,2,0,MICM Real Estate,melbourne,1.085536,Inner
15,16-Aug-17,564700,beckett street,2.0,1,0,LJ Hooker City Residential,melbourne,0.323293,Inner
18,15-Aug-17,623000,swanston street,2.0,2,0,Nelson Alexander Docklands,melbourne,0.529941,Inner
21,07-Aug-17,555000,russell street,2.0,1,0,Harcourts Melbourne City,melbourne,0.602914,Inner
24,29-Jul-17,565000,franklin street,2.0,1,0,MICM Real Estate,melbourne,0.335164,Inner
27,20-Jul-17,379000,beckett street,2.0,1,0,Greg Hocking City Residential,melbourne,0.216394,Inner
30,19-Jul-17,560000,russell street,2.0,1,0,BRADY residential,melbourne,0.365350,Inner
33,17-Jul-17,335000,little lonsdale street,2.0,1,0,BRADY residential,melbourne,0.383202,Inner
36,12-Jul-17,235000,lonsdale street,2.0,1,0,Inner Real Estate NEXTRE,melbourne,0.709466,Inner
39,07-Jul-17,415000,therry street,2.0,1,0,Melcorp Property Pty Ltd,melbourne,0.467489,Inner
42,04-Jul-17,1120000,little collins street,2.0,3,0,Purplebricks VIC,melbourne,0.524033,Inner
45,01-Jul-17,595000,flinders street,2.0,1,0,Barry Plant Docklands,melbourne,0.817150,Inner
48,21-Jun-17,440000,franklin street,2.0,1,0,Melcorp Property Pty Ltd,melbourne,0.384706,Inner
51,15-Jun-17,498000,spencer street,2.0,2,0,MICM Real Estate,melbourne,1.030430,Inner
54,08-Jun-17,395000,franklin street,2.0,1,0,MICM Real Estate,melbourne,0.589692,Inner
57,31-May-17,420000,lonsdale street,2.0,1,0,Ray White Melbourne CBD,melbourne,0.976465,Inner
60,30-May-17,430000,katherine place,2.0,1,0,Inner Real Estate NEXTRE,melbourne,1.195299,Inner
63,22-May-17,547000,william street,2.0,1,0,Holly Prestige Property,melbourne,0.652805,Inner
66,20-May-17,703500,exhibition street,2.0,1,0,Hockingstuart Melbourne,melbourne,0.961946,Inner
69,17-May-17,440000,elizabeth street,2.0,1,0,RT Edgar Boroondara Sales,melbourne,0.370157,Inner
72,16-May-17,480000,sutherland street,2.0,2,0,BRADY residential,melbourne,0.212939,Inner
75,10-May-17,850000,russell street,2.0,2,0,Hockingstuart Melbourne,melbourne,0.827163,Inner
78,07-May-17,520000,elizabeth street,2.0,2,0,Melcorp Property Pty Ltd,melbourne,0.818884,Inner
81,03-May-17,394000,beckett street,2.0,1,0,Melcorp Property Pty Ltd,melbourne,0.216394,Inner
84,27-Apr-17,750000,collins street,2.0,1,0,Hodges South Melbourne,melbourne,0.742079,Inner
87,24-Apr-17,475000,flinders lane,2.0,1,0,Hockingstuart Melbourne,melbourne,0.694998,Inner
...,...,...,...,...,...,...,...,...,...,...
223732,08-Dec-14,780000,ivan court,3.0,2,1,Kay & Burton Portsea,portsea,61.570677,Southeastern
223733,07-Oct-14,1300000,seabird way,3.0,1,1,Jellis Craig Sorrento,portsea,61.600250,Southeastern
223734,11-Jan-14,840000,frimmell way,3.0,2,1,RT Edgar Portsea,portsea,61.451211,Southeastern
223735,22-Jan-11,590000,durcell avenue,3.0,1,1,RT Edgar Portsea,portsea,61.352505,Southeastern
223736,13-Aug-10,745000,janet court,3.0,2,1,Bennison Mackinnon,portsea,61.974401,Southeastern
223737,21-Mar-17,1420000,armytage drive,3.0,2,3,Jellis Craig Sorrento,portsea,61.020202,Southeastern
223738,04-Mar-17,1320000,back beach road,3.0,2,2,Melbourne Sotheby's International Realty Sorrento,portsea,61.911517,Southeastern
223739,16-Feb-17,1390000,lawrance grove,3.0,2,2,Melbourne Sotheby's International Realty Sorrento,portsea,61.621426,Southeastern
223740,05-Jan-17,1300000,latham drive,3.0,2,2,Melbourne Sotheby's International Realty Sorrento,portsea,62.136779,Southeastern
223741,15-Nov-16,785000,ivan court,3.0,1,2,Jellis Craig Sorrento,portsea,61.583557,Southeastern
223742,06-May-16,795000,durcell avenue,3.0,1,2,Kay & Burton Portsea,portsea,61.368030,Southeastern
223743,17-Apr-16,1630000,london bridge road,3.0,2,2,RT Edgar Portsea,portsea,61.877879,Southeastern
223744,12-Apr-16,1100000,nepean place,3.0,2,2,Kay & Burton Portsea,portsea,60.877222,Southeastern
223745,08-Apr-16,1300000,armytage drive,3.0,2,5,Melbourne Sotheby's International Realty Sorrento,portsea,61.113861,Southeastern
223746,22-Mar-16,1025000,wanda close,3.0,2,2,Melbourne Sotheby's International Realty Sorrento,portsea,61.709025,Southeastern
223747,29-Feb-16,1000000,armytage drive,3.0,2,3,Jellis Craig Sorrento,portsea,60.962492,Southeastern
223748,30-Aug-15,1030000,royal avenue,3.0,2,4,Kay & Burton Portsea,portsea,60.976071,Southeastern
223749,22-Jan-15,1200000,franklin road,3.0,1,2,RT Edgar Portsea,portsea,61.419636,Southeastern
223750,23-Nov-14,1300000,armytage drive,3.0,2,3,Melbourne Sotheby's International Realty Sorrento,portsea,60.962492,Southeastern
223751,30-Sep-14,1165000,amytage drive,3.0,2,5,Melbourne Sotheby's International Realty Sorrento,portsea,61.112055,Southeastern
223752,29-Jul-14,950000,london bridge road,3.0,2,2,Kay & Burton Portsea,portsea,61.880103,Southeastern
223753,12-Jul-14,1060000,stonecutters road,3.0,2,2,Jellis Craig Bennison Mackinnon Sorrento,portsea,62.064772,Southeastern
223754,15-Sep-13,955001,armytage drive,3.0,2,4,RT Edgar Portsea,portsea,61.106773,Southeastern
223755,18-Aug-12,1055000,hotham road,3.0,2,2,Bennison Mackinnon,portsea,61.845222,Southeastern
223756,02-Apr-12,2700000,point nepean road,3.0,1,2,RT Edgar Portsea,portsea,60.636769,Southeastern
223757,11-Aug-11,830000,seabird way,3.0,2,2,Bennison Mackinnon,portsea,61.600884,Southeastern
223758,01-Jun-11,1450000,clovelly court,3.0,2,2,Bennison Mackinnon,portsea,61.990009,Southeastern
223759,15-Dec-10,2700000,point nepean road,3.0,2,2,RT Edgar Portsea,portsea,60.638147,Southeastern
223760,07-Mar-10,1290000,back beach road,3.0,2,2,RT Edgar Portsea,portsea,61.705255,Southeastern
223761,19-Apr-09,1050000,delgany avenue,3.0,3,2,RT Edgar Portsea,portsea,60.882295,Southeastern