Load moduls

In [33]:
from math import sin, cos, sqrt, atan2, radians
import numpy as np
import scipy.stats as stats
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

%matplotlib inline
%config InlineBackend.figure_format ='retina'

# House

In [42]:
df = pd.read_csv('data/houses.csv')

In [43]:
df.head(2)

,solddate,price,address1,postcode,latitude,longitude,bedrooms,bathrooms,carparkings,agentbrand,location,suburb
0,25-Aug-17,380000,505/7 Katherine Place,3000.0,-37.820240,144.956451,2.0,1,0,City Residential Real Estate,"('-37.82024', '144.956451')",MELBOURNE
1,28-Aug-17,347000,1509/8 Franklin Street,3000.0,-37.807472,144.962021,2.0,1,0,Caine Real Estate,"('-37.8074722', '144.962021')",MELBOURNE

In [57]:
df = df[~df.location.isnull()]
def calcdist(value):
    
    slt = value.split('\'')

    lat1 = radians(-37.810817)
    lon1 = radians(144.963135)
    lat2 = radians(float(slt[1]))
    lon2 = radians(float(slt[3]))

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    
    R = 6373.0
    distance = R * c

    return distance

df['dist2cbd'] = df.location.map(calcdist)

In [59]:
df.head(2)

,solddate,price,address1,postcode,latitude,longitude,bedrooms,bathrooms,carparkings,agentbrand,location,suburb,dist2cbd
0,25-Aug-17,380000,505/7 Katherine Place,3000.0,-37.820240,144.956451,2.0,1,0,City Residential Real Estate,"('-37.82024', '144.956451')",MELBOURNE,1.201459
1,28-Aug-17,347000,1509/8 Franklin Street,3000.0,-37.807472,144.962021,2.0,1,0,Caine Real Estate,"('-37.8074722', '144.962021')",MELBOURNE,0.384706