Load moduls

In [3]:
from math import sin, cos, sqrt, atan2, radians
import re, string
import numpy as np
import scipy.stats as stats
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

import warnings; warnings.filterwarnings('ignore')
%matplotlib inline
%config InlineBackend.figure_format ='retina'

# House Data Cleaning

In [4]:
df = pd.read_csv('data/houses.csv')

In [5]:
df = df[~df.location.isnull()]
def calcdist(value):
    
    slt = value.split('\'')

    lat1 = radians(-37.810817)
    lon1 = radians(144.963135)
    lat2 = radians(float(slt[1]))
    lon2 = radians(float(slt[3]))

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    
    R = 6373.0
    distance = R * c

    return distance

df['dist2cbd'] = df.location.map(calcdist)

In [6]:
df.suburb = df.suburb.str.lower()

In [7]:
df.shape

(203198, 13)

In [8]:
df.dropna(inplace=True)
df.isnull().sum()

solddate       0
price          0
address1       0
postcode       0
latitude       0
longitude      0
bedrooms       0
bathrooms      0
carparkings    0
agentbrand     0
location       0
suburb         0
dist2cbd       0
dtype: int64

# EDA

In [9]:
choose_sub = ['yarraville', 'newport', 'spotswood', 'kensington',
              'ascot vale', 'moonee ponds', 'coburg', 'clifton hill',
              'northcote', 'malvern east', 'glen iris', 'elsternwick',
              'ormond']

def ch(x):
    if x in choose_sub:
        return True
    else:
        return False
    
ch = df[df.suburb.map(ch)]

In [10]:
ch.suburb.unique()

array(['yarraville', 'newport', 'spotswood', 'kensington', 'ascot vale',
       'moonee ponds', 'coburg', 'clifton hill', 'northcote',
       'malvern east', 'glen iris', 'elsternwick', 'ormond'], dtype=object)

In [11]:
c = ch.drop(['postcode', 'latitude', 'longitude', 'location'], axis=1)

# pd.to_datetime(c.solddate)
def qw(x):
    try:
        s = x.split('-')
        month = s[1]
        return True
    except:
        return False
c = c[c.solddate.map(qw)]

c.solddate = pd.to_datetime(c.solddate)
c.solddate = c.solddate.map(lambda x: x.strftime('%Y-%m'))

In [12]:
# c.groupby(by='solddate').count()['price'][56:-1].plot(kind='bar', figsize=(20,10))

In [13]:
# outliers 
c = c[~(c.price > 4000000)]

In [14]:
me = c.price.median()
ma = c.price.mean()
plt.figure(figsize=(18,10))

font = {'family': 'serif',
        'color':  'darkred',
        'weight': 'normal',
        'size': 16,
        }
# plt.text(2500000, 0.00000125, s='Median '+str(me), fontsize=30, fontdict={'color':'red'})
# plt.text(2500000, 0.00000105, s='Mean  '+str(round(ma)), fontsize=30, fontdict={'color':'blue'})

# plt.plot([me, me], [0, 0.00000165], 'r-', lw=3)
# plt.plot([ma, ma], [0, 0.00000165], 'b-', lw=3)
# sns.distplot(c.price)

In [15]:
# c.groupby(by='agentbrand').count().sort_values(by='price', ascending=False)

In [16]:
c.bathrooms = c.bathrooms.astype(int)
c.carparkings = c.carparkings.astype(int)
corr = c[['bedrooms', 'bathrooms', 'carparkings', 'dist2cbd', 'price']].corr()
# sns.heatmap(corr, annot=True)

# Model

In [17]:
data = df.copy()
data.drop(['latitude', 'longitude', 'location', 'postcode'], axis=1, inplace=True)
data.drop(19517, axis=0, inplace=True)

In [18]:
def getStreetName(x):
    result = ''.join([i for i in x if not i.isdigit()])
    result = re.sub(r'[^\w]', ' ', result)
    result = ' '.join([x for x in result.split() if len(x) != 1])
    return result.lower()

data.address1 = data.address1.map(getStreetName)

In [19]:
data.head()

,solddate,price,address1,bedrooms,bathrooms,carparkings,agentbrand,suburb,dist2cbd
0,25-Aug-17,380000,katherine place,2.0,1,0,City Residential Real Estate,melbourne,1.201459
1,28-Aug-17,347000,franklin street,2.0,1,0,Caine Real Estate,melbourne,0.384706
2,26-Aug-17,458000,beckett street,2.0,1,0,MICM Real Estate,melbourne,0.267443
3,24-Aug-17,440000,therry street,2.0,1,0,Melcorp Property Pty Ltd,melbourne,0.467489
4,18-Aug-17,550000,collins street,2.0,2,0,MICM Real Estate,melbourne,1.085536

In [20]:
suburb = pd.read_csv('data/suburb_region.csv')
suburb.columns = ['suburb', 'post', 'region']
suburb.suburb = suburb.suburb.str.lower()
suburb.suburb = suburb.suburb.str.strip()

In [21]:
data2 = pd.merge(data, suburb, on='suburb', how='left')
data2.drop('post', axis=1, inplace=True)
data2.drop_duplicates(inplace=True)
data2.dropna(inplace=True)

In [22]:
data2.head()

,solddate,price,address1,bedrooms,bathrooms,carparkings,agentbrand,suburb,dist2cbd,region
0,25-Aug-17,380000,katherine place,2.0,1,0,City Residential Real Estate,melbourne,1.201459,Inner
3,28-Aug-17,347000,franklin street,2.0,1,0,Caine Real Estate,melbourne,0.384706,Inner
6,26-Aug-17,458000,beckett street,2.0,1,0,MICM Real Estate,melbourne,0.267443,Inner
9,24-Aug-17,440000,therry street,2.0,1,0,Melcorp Property Pty Ltd,melbourne,0.467489,Inner
12,18-Aug-17,550000,collins street,2.0,2,0,MICM Real Estate,melbourne,1.085536,Inner

In [24]:
data2.suburb.unique()

array(['melbourne', 'east melbourne', 'west melbourne', 'southbank',
       'south wharf', 'docklands', 'seddon', 'footscray', 'brooklyn',
       'kingsville', 'maidstone', 'west footscray', 'yarraville',
       'newport', 'south kingsville', 'spotswood', 'williamstown',
       'williamstown north', 'lynbrook', 'lyndhurst', 'hampton park',
       'cannons creek', 'cranbourne', 'cranbourne north',
       'cranbourne west', 'junction village', 'sandhurst', 'skye',
       'devon meadows', 'cranbourne east', 'cranbourne south',
       'botanic ridge', 'clyde', 'clyde north', 'cardinia', 'tooradin',
       'warneet', 'blind bight', 'koo wee rup', 'catani', 'heath hill',
       'bayles', 'yannathan', 'lang lang', 'lang lang east', 'nyora',
       'altona', 'seaholme', 'braybrook', 'albion', 'sunshine',
       'sunshine north', 'sunshine west', 'st albans', 'albanvale',
       'kealba', 'kings park', 'ardeer', 'cairnlea', 'caroline springs',
       'deer park', 'burnside', 'burnside heights', 'wyndham vale',
       'manor lakes', 'altona north', 'williams landing', 'altona meadows',
       'laverton', 'seabrook', 'hoppers crossing', 'tarneit', 'truganina',
       'werribee', 'werribee south', 'point cook', 'derrimut',
       'flemington', 'kensington', 'ascot vale', 'maribyrnong',
       'travancore', 'keilor east', 'avondale heights', 'keilor',
       'delahey', 'sydenham', 'hillside', 'taylors hill', 'keilor downs',
       'taylors lakes', 'keilor lodge', 'moonee ponds', 'aberfeldie',
       'essendon', 'essendon west', 'essendon north', 'strathmore',
       'strathmore heights', 'airport west', 'keilor park', 'niddrie',
       'gladstone park', 'tullamarine', 'gowanbrae', 'pascoe vale',
       'pascoe vale south', 'glenroy', 'hadfield', 'oak park',
       'broadmeadows', 'jacana', 'dallas', 'coolaroo', 'meadow heights',
       'attwood', 'westmeadows', 'north melbourne', 'parkville', 'carlton',
       'carlton north', 'princes hill', 'brunswick west', 'brunswick',
       'brunswick east', 'coburg', 'coburg north', 'greenvale', 'fawkner',
       'campbellfield', 'oaklands junction', 'craigieburn', 'mickleham',
       'roxburgh park', 'kalkallo', 'fitzroy', 'collingwood', 'abbotsford',
       'clifton hill', 'fitzroy north', 'northcote', 'thornbury',
       'preston', 'reservoir', 'thomastown', 'lalor', 'epping',
       'alphington', 'fairfield', 'ivanhoe', 'ivanhoe east', 'bellfield',
       'heidelberg heights', 'heidelberg west', 'mill park', 'bundoora',
       'kingsbury', 'heidelberg', 'rosanna', 'eaglemont', 'viewbank',
       'macleod', 'yallambie', 'watsonia', 'watsonia north', 'briar hill',
       'greensborough', 'st helena', 'diamond creek', 'plenty',
       'yarrambat', 'lower plenty', 'montmorency', 'eltham',
       'eltham north', 'research', 'wattle glen', 'bend of islands',
       'kangaroo ground', 'hurstbridge', 'strathewen', 'cottles bridge',
       'nutfield', 'kew', 'kew east', 'balwyn', 'deepdene', 'balwyn north',
       'bulleen', 'templestowe', 'templestowe lower', 'doncaster',
       'doncaster east', 'donvale', 'north warrandyte', 'warrandyte',
       'park orchards', 'wonga park', 'chirnside park', 'richmond',
       'burnley', 'cremorne', 'hawthorn', 'hawthorn east', 'camberwell',
       'burwood', 'canterbury', 'mont albert', 'surrey hills', 'box hill',
       'box hill south', 'box hill north', 'mont albert north',
       'blackburn', 'blackburn north', 'blackburn south', 'forest hill',
       'nunawading', 'mitcham', 'vermont', 'vermont south', 'ringwood',
       'ringwood north', 'warranwood', 'warrandyte south', 'heathmont',
       'ringwood east', 'croydon', 'croydon south', 'croydon north',
       'croydon hills', 'kilsyth', 'kilsyth south', 'mooroolbark',
       'launching place', 'wandin north', 'woori yallock', 'wandin east',
       'don valley', 'seville', 'yellingbo', 'hoddles creek',
       'seville east', 'lilydale', 'south yarra', 'toorak', 'armadale',
       'malvern', 'kooyong', 'caulfield east', 'malvern east', 'glen iris',
       'ashburton', 'ashwood', 'chadstone', 'mount waverley',
       'glen waverley', 'wheelers hill', 'burwood east', 'wantirna',
       'wantirna south', 'bayswater', 'bayswater north', 'the basin',
       'boronia', 'ferntree gully', 'upper ferntree gully', 'lysterfield',
       'lysterfield south', 'upwey', 'selby', 'menzies creek', 'belgrave',
       'belgrave heights', 'belgrave south', 'tecoma', 'caulfield north',
       'caulfield', 'caulfield south', 'carnegie', 'glen huntly',
       'murrumbeena', 'bentleigh east', 'hughesdale', 'oakleigh',
       'oakleigh east', 'huntingdale', 'oakleigh south', 'clayton',
       'notting hill', 'clayton south', 'clarinda', 'mulgrave',
       'springvale', 'dingley village', 'springvale south', 'keysborough',
       'noble park', 'noble park north', 'dandenong', 'dandenong north',
       'dandenong south', 'doveton', 'eumemmerring', 'rowville',
       'scoresby', 'knoxfield', 'prahran', 'windsor', 'st kilda',
       'st kilda west', 'balaclava', 'st kilda east', 'elwood',
       'elsternwick', 'ripponlea', 'gardenvale', 'brighton',
       'brighton east', 'hampton', 'hampton east', 'moorabbin', 'highett',
       'sandringham', 'cheltenham', 'beaumaris', 'black rock', 'mentone',
       'mordialloc', 'parkdale', 'aspendale', 'aspendale gardens',
       'waterways', 'bonbeach', 'chelsea', 'edithvale', 'chelsea heights',
       'carrum', 'patterson lakes', 'seaford', 'frankston',
       'frankston south', 'frankston north', 'carrum downs', 'heatherton',
       'bentleigh', 'mckinnon', 'ormond', 'south melbourne', 'albert park',
       'middle park', 'port melbourne', 'little river', 'rockbank',
       'plumpton', 'melton', 'melton west', 'kurunjang', 'toolern vale',
       'melton south', 'brookfield', 'eynesbury', 'exford', 'parwan',
       'diggers rest', 'bulla', 'sunbury', 'clarkefield', 'wollert',
       'woodstock', 'south morang', 'beveridge', 'mernda', 'doreen',
       'yan yean', 'whittlesea', 'kinglake west', 'eden park',
       'panton hill', 'smiths gully', 'st andrews', 'kinglake', 'montrose',
       'kalorama', 'mount dandenong', 'gruyere', 'coldstream',
       'christmas hills', 'dixons creek', 'yarra glen', 'steels creek',
       'healesville', 'badger creek', 'mount toolebewong', 'chum creek',
       'cockatoo', 'nangana', 'mount burnett', 'avonsleigh', 'emerald',
       'clematis', 'macclesfield', 'gembrook', 'tremont', 'ferny creek',
       'sassafras', 'olinda', 'sherbrooke', 'kallista', 'the patch',
       'monbulk', 'silvan', 'mount evelyn', 'powelltown', 'yarra junction',
       'gladysdale', 'three bridges', 'big pats creek', 'millgrove',
       'warburton', 'wesburn', 'mcmahons creek', 'endeavour hills',
       'hallam', 'narre warren north', 'narre warren east', 'narre warren',
       'narre warren south', 'berwick', 'harkaway', 'beaconsfield',
       'beaconsfield upper', 'dewhurst', 'officer', 'pakenham',
       'pakenham upper', 'nar nar goon', 'maryknoll', 'nar nar goon north',
       'tynong', 'garfield', 'bunyip', 'iona', 'longwarry', 'modella',
       'langwarrin', 'baxter', 'langwarrin south', 'somerville',
       'pearcedale', 'tyabb', 'hastings', 'tuerong', 'merricks',
       'shoreham', 'point leo', 'bittern', 'crib point', 'balnarring',
       'balnarring beach', 'merricks beach', 'merricks north', 'somers',
       'main ridge', 'flinders', 'mount eliza', 'mornington', 'moorooduc',
       'mount martha', 'arthurs seat', 'dromana', 'safety beach',
       'red hill', 'red hill south', 'mccrae', 'rosebud', 'cape schanck',
       'fingal', 'boneo', 'rye', 'tootgarook', 'st andrews beach',
       'blairgowrie', 'sorrento', 'portsea'], dtype=object)