### Capstone Project: Melbourne Housing Market

## Load moduls

In [22]:
# data modules
import numpy as np
import scipy.stats as stats
import pandas as pd

# plotting modules
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

# make sure charts appear in the notebook:
%matplotlib inline
%config InlineBackend.figure_format ='retina'

## Load data

In [82]:
df = pd.read_csv('data/houses.csv')

In [83]:
df.shape

(321844, 12)

In [97]:
df = df[~((df.bathrooms == 0) & (df.bedrooms == 0))]

In [99]:
df.head(2)

,solddate,price,address1,postcode,latitude,longitude,bedrooms,bathrooms,carparkings,agentbrand,location,suburb
0,08 May 2017,165000,907/268 Flinders Street,3000.0,-37.817764,144.965652,0,1,0,Inner Real Estate NEXTRE,"('-37.8177643', '144.965652')",MELBOURNE
1,11 Mar 2017,187700,7/9-13 Anthony Street,3000.0,-37.809220,144.958939,0,1,0,Purplebricks VIC,"('-37.80922', '144.958939')",MELBOURNE

In [130]:
df1 = df.iloc[:100000, :]
df2 = df.iloc[100000:200000, :]
df3 = df.iloc[200000:, ]

In [131]:
df1.to_csv('house1.csv', index=False)
df2.to_csv('house2.csv', index=False)
df3.to_csv('house3.csv', index=False)